<div class="row clearfix">
    <div class="col-lg-2 col-md-12">
    </div>
    <div class="col-lg-5 col-md-12">
        <div class="card">
            <div class="body">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>
                    <div class="card profile-header">                      
                        <div class="row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <%= f.label :avatar, "Choose Your Photo" %>
                                    <%= f.file_field :avatar %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12">
                            <h6>Account Data</h6>
                            <div class="form-group">
                                <%= f.text_field :name, class: "form-control",  placeholder: "Username" %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :phone, class: "form-control",  placeholder: "Update Your Phone" %>
                            </div>

                            <div class="form-group">
                                <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder:"Email" %>
                            </div>
                        </div>
                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                        <% end %>
                        <div class="col-lg-12 col-md-12">
                            <h6>Change Password</h6>
                            <div class="form-group">
                                <%= f.password_field :current_password, class: "form-control", autocomplete: "Password", placeholder:"Current Password" %>
                            </div>
                            <div class="form-group">
                                <%= f.password_field :password, class: "form-control", autocomplete: "password", placeholder:"New Password" %>
                                <% if @minimum_password_length %>
                                <br />
                                <em><%= @minimum_password_length %> characters minimum</em>
                                <% end %>
                            </div>
                            <div class="form-group">
                                <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "Password", placeholder:"Password Confirmation" %>
                            </div>
                            <div class="form-group">
                                <%= f.submit "Update", class:"btn btn-primary" %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>