<!DOCTYPE html>
<html>
  <head>
    <title>Hdb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Lucid Bootstrap 4x Admin Template">
    <meta name="author" content="WrapTheme, design by: ThemeMakker.com">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/vendor/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="/vendor/toastr/toastr.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/blog.css">
    <link rel="stylesheet" href="/assets/css/color_skins.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="theme-blue">
    <div id="wrapper">
        <% unless action_name == 'new' ||  action_name == 'edit' %>
          <%= render partial: "layouts/navbar" %>
        <% end %>  

        <% unless action_name == 'new' ||  action_name == 'edit' %>
          <%= render partial: "layouts/sidebar" %>
        <% end %>
        <% if current_user.present? %>
               <% if notice %>
                <p class="alert"><%= notice %></p>
              <% end %>
              <% if alert %>
                <p class="alert"><%= alert %></p>
              <% end %>
              <%= yield %>
            </div>
        <% else %>
          <%= yield %>
        <% end %>
    </div>


    <!-- Javascript -->
    <script src="/assets/bundles/libscripts.bundle.js"></script>
    <script src="/assets/bundles/vendorscripts.bundle.js"></script>

    <script src="/vendor/toastr/toastr.js"></script>
    <script src="/assets/bundles/chartist.bundle.js"></script>
    <script src="/assets/bundles/knob.bundle.js"></script>

    <script src="/assets/bundles/mainscripts.bundle.js"></script>
    <script src="/assets/js/index.js"></script>

    <script src="/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

  </body>
</html>
